.add-plan {
  position: relative;
  background-color: #d4d9eb;
  padding-bottom: 60px;

  &::before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    height: 30px;
    top: -29px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #d4d9eb;

    @media (min-width: $desktop-width) {
      height: 60px;
      top: -59px;
      border-top-right-radius: 60px;
      border-top-left-radius: 60px;
    }
  }
}

.add-plan__wrapper {
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 618px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
  }
}

.add-plan__title {
  margin-top: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    font-size: 36px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-left: 69px;
    transform: translateY(-4px);
    margin-bottom: 50px;
  }
}
