.add-profile {
  position: relative;
  background-color: $color_whisper;

  &::after {
    @include section-border-radius_bottom;
  }
}

.add-profile__list {
  width: 200px;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;
  list-style: none;
  counter-reset: add-profile 0;
}

.add-profile__item {
  font-size: $text-size_default;
  font-weight: 300;
  line-height: 22px;
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
  color: $color_tundora;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  &::after {
    font-size: $text-size_default;
    line-height: 36px;
    position: absolute;
    top: 3px;
    right: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    content: counter(add-profile, decimal);
    counter-increment: add-profile 1;
    color: $color_white;
    border-radius: 50%;
  }

  &:nth-child(1)::after {
    background-color: $color_sunshade;
  }

  &:nth-child(2)::after {
    background-color: $color_sunglow;
  }

  &:nth-child(3)::after {
    background-color: $color_mustard;
  }
}

.add-profile__price {
  display: inline-flex;
}

.add-profile__section-title {
  padding-top: 80px;
  padding-right: 165px;
  padding-bottom: 44px;
}

.add-profile__button {
  font-size: $text-size_default;
  display: inline-flex;
  background-color: transparent;
}

.add-profile__wrapper {
  position: relative;
  box-sizing: border-box;
  padding-right: 50px;
  padding-left: 50px;

  @include container();

  &::before {
    position: absolute;
    top: 67px;
    right: 26px;
    width: 99px;
    height: 99px;
    padding: 0;
    content: "";
    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 99px 99px;
  }
}

@media (min-width: $tablet-width) {
  .add-profile__wrapper {
    padding-top: 162px;
    padding-right: 75px;
    background-image: url("../img/add-profile-tablet.png");
    background-repeat: no-repeat;
    background-position: right 40px top 238px;

    &::before {
      top: auto;
      right: 86px;
      bottom: -12px;
    }
  }

  .add-profile__section-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 74px;
    padding: 0;
    text-align: center;
  }

  .add-profile__list {
    width: calc(100% - 90px);
    margin-bottom: 34px;
    padding-left: 90px;
  }

  .add-profile__item::after {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    top: 0;
    right: auto;
    left: -90px;
    width: 65px;
    height: 65px;
  }

  .add-profile__item {
    font-size: 28px;
    font-weight: 300;
    line-height: 64px;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }

  .add-profile__button {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: 380px;
    height: 66px;
    margin-bottom: 6px;

    &::before {
      width: 66px;
      height: 66px;
      margin-right: 24px;
      content: "";
      border-radius: 50%;
      background-color: $color_snuff;
      background-image: url("../img/business.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 17px 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .add-profile__wrapper {
    padding-right: 405px;
    padding-bottom: 105px;
    padding-left: 130px;
    background-image: url("../img/add-profile-desktop.png");
    background-position: right 248px top 228px;

    &::before {
      top: 50%;
      right: 134px;
      bottom: auto;
      width: 198px;
      height: 198px;
      transform: translateY(-64px);
      background-size: 198px 198px;
    }
  }
}
