.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  text-decoration: none;
  color: $color_cello;
  border-radius: 10px;
  background-color: $color_mustard;

  &_arrow-right {
    align-items: center;
    justify-content: space-between;

    &::after {
      width: 10px;
      height: 14px;
      content: "";
      background-image: url("../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.button_type_view-all {
  font-size: 17px;
  line-height: 30px;
  display: block;
  box-sizing: border-box;
  width: 150px;
  margin: 24px auto 26px;
  padding-left: 34px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  background-image: url("../img/show-more-plus.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px 18px;
}

@media (min-width: $tablet-width) {
  .button_type_view-all {
    margin-top: 38px;
    margin-bottom: 42px;
  }
}
