.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar__month-year-wrapper {
  border-top: 1px solid $blue-10-color;
  border-bottom: 1px solid $blue-10-color;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
}


.calendar__days-names {
  margin-bottom: 7px;
}

.calendar__week-days {
  @include reset;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: 25px;
  margin-right: 20px;
}

.calendar__week-day {
  font-size: 14px;
  line-height: 18px;
  color: $gray;
  padding-left: 13px;
  padding-right: 11px;

  &:first-child {
    &::before {
      content: "П";
    }
  }

  &:nth-child(2) {
    &::before {
      content: "В";
    }
  }

  &:nth-child(3) {
    &::before {
      content: "С";
    }
  }

  &:nth-child(4) {
    &::before {
      content: "Ч";
    }
  }

  &:nth-child(5) {
    &::before {
      content: "П";
    }
  }

  &:nth-child(6) {
    &::before {
      content: "С";
      color: $red-100-color;
    }
  }

  &:last-child {
    &::before {
      content: "В";
      color: $red-100-color;
    }
  }
}

.calendar__days {
  width: 221px;
  margin-top: 6px;
  margin-left: 25px;
  margin-right: 20px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid $blue-10-color;
  border-top: 1px solid $blue-10-color;
}

.calendar__day {
  width: 31px;
  height: 31px;

  position: relative;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  border-right: 1px solid $blue-10-color;
  border-bottom: 1px solid $blue-10-color;
}

.calendar__day-month {
  display: none;
}

.calendar__day-link {
  display: block;
  height: 100%;
  color: rgba($gray, 0.3);

  text-decoration: none;
  padding-top: 8px;

  &:hover {
    &::after {
      content: "";

      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      z-index: 10;

      border: 2px solid $red-100-color;
    }
  }

  &--available {
    opacity: 1;

    background-color: $main-color;

    color: $gray;
  }

  &--choosen {
    opacity: 1;

    background-color: $text__dark-blue;
    color: $white;
  }

  &--choosen-start {
    opacity: 1;

    background-color: $text__dark-blue;
    color: $white;

    &::after {
      content: "";

      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      z-index: 10;

      border: 2px solid $red-100-color;
    }
  }
}

.calendar__month-selection {
  margin-bottom: 22px;
}

@media (min-width: $tablet-breakpoint) {
  .calendar__week-days {
    width: 100%;
    margin-top: 10px;
    padding-left: 58px;
    padding-right: 32px;
    margin-bottom: 0;
  }

  .calendar__week-day {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:first-child {
      &::before {
        content: "Пн";
      }
    }

    &:nth-child(2) {
      &::before {
        content: "Вс";
      }
    }

    &:nth-child(3) {
      &::before {
        content: "Ср";
      }
    }

    &:nth-child(4) {
      &::before {
        content: "Чт";
      }
    }

    &:nth-child(5) {
      &::before {
        content: "Пт";
      }
    }

    &:nth-child(6) {
      &::before {
        content: "Сб";
        color: $red-100-color;
      }
    }

    &:last-child {
      &::before {
        content: "Вс";
        color: $red-100-color;
      }
    }
  }

  .calendar__days {
    width: 533px;
    height: 415px;
    margin-top: 3px;
    margin-left: 19px;
  }

  .calendar__day {
    width: 76px;
    height: 69px;
  }

  .calendar__day-link {
    font-size: 20px;
    line-height: 18px;

    padding-top: 23px;
    padding-left: 2px;

    &:hover {
      &::after {
        top: -2px;
        right: -2px;
        left: -1px;
        bottom: -2px;
        border-width: 4px;
      }
    }

    &--choosen-start {
      &::after {
        top: -2px;
        right: -2px;
        left: -1px;
        bottom: -2px;
        border-width: 4px;
      }
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .calendar__month-selection {
    margin-bottom: 0;
  }

  .calendar__week-days {
    padding-left: 0;
    padding-right: 0;
  }

  .calendar__days {
    margin: 0;
    width: 1002px;
    margin-top: 16px;
    margin-left: -3px;
  }

  .calendar__day {
    width: 143px;
    height: 71px;
  }

  .calendar__day-month {
    display: inline;
    margin-left: 4px;
  }

  .calendar__day-link {
    position: relative;
    text-align: left;
    font-size: 18px;
    line-height: 30px;

    padding-top: 6px;
    padding-left: 17px;

    &:hover {
      &::after {
        top: -4px;
        right: -4px;
        left: -2px;
        bottom: -2px;
      }
    }

    &--choosen-start {
      &::after {
        top: -4px;
        right: -4px;
        left: -2px;
        bottom: -2px;
      }

      &::before {
        content: "Заезд";
        display: block;
        position: absolute;
        left: 16px;
        bottom: 9px;
        color: $white;
        letter-spacing: 2px;
      }
    }

    &--choosen-end {
      &::before {
        content: "Выезд";
        display: block;
        position: absolute;
        left: 16px;
        bottom: 9px;
        color: $white;
        letter-spacing: 2px;
      }
    }
  }
}
