.change-bio {
  padding-bottom: 89px;
}

.change-bio__content-wrapper {
  display: flex;
  justify-content: center;

  margin-top: 24px;
}

.change-bio__wrapper {
  position: relative;
}

.change-bio__level {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  position: relative;
  margin-top: -4px;
}

.change-bio__pie-graph {
  position: absolute;
  top: 0;
  left: 0;

  fill: transparent;
  stroke: $level-circle__orange;
  transform: rotate(-90deg);
}

.change-bio__number {
  font-size: 38px;
  font-weight: 700;
  padding-top: 7px;
  padding-left: 4px;
  line-height: 38px;
  color: $blue-700-color;
}

.change-bio__text {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  color: $gray;
  padding-top: 2px;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -8px;
    display: block;
    width: 49px;
    height: 2px;
    background-color: $blue-10-color;
  }
}

.change-bio__user-img {
  border-radius: 50%;
  margin-left: 35px;
}

.change-bio__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 33px;
}

.change-bio__change-avatar {
  margin-top: 13px;
  min-width: 270px;
  height: 40px;
  border-radius: 20px;
  background-color: $blue-80-color;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 5px;
  color: $text__dark-blue;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background-color: $blue-200-color;
  }

  &:active {
    color: rgba($text__dark-blue, 0.3);
  }
}

.change-bio__fieldset {
  display: flex;
  min-width: 270px;
  flex-direction: column;
  align-items: center;

  border: 1px solid $blue-10-color;
  border-radius: 10px;

  margin-top: 6px;

  &--tags {
    border: none;
    margin-top: 15px;
  }

  &--change-transport {
    position: absolute;
    bottom: -55px;

    .change-bio__legend {
      position: absolute;
      padding: 5px 15px 5px 15px;
      top: -16px;
      left: 76px;
    }
  }
}

.change-bio__legend {
  margin: 0 auto;
  position: relative;
  padding: 10px 15px 10px 15px;
  background-color: $main-color;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
  margin-top: 2px;

  &--tags {
    margin-bottom: -20px;
  }
}

.change-bio__tags {
  outline: none;

  font-family: inherit;
  resize: none;
  min-width: 270px;
  height: 87px;
  border: 1px solid $blue-10-color;
  border-radius: 10px;
  background-color: $main-color;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  color: $gray;

  &:hover {
    border: 1px solid $blue-100-color;
  }

  &:focus {
    border: 1px solid $blue-700-color;
  }
}

.change-bio__transportation {
  display: flex;
  justify-content: center;

  margin-top: -12px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-left: -5px;
  z-index: 2;
}

.change-bio__transport-button {
  width: 33px;
  height: 33px;
  background-color: $white;
  border-radius: 50%;

  &:hover {
    box-shadow: 2px 0 10px rgba($black, 0.08);
  }

  &:active {
    background-color: $blue-50-color;
  }

  &--plane {
    background-image: url("../img/transport/recolorized/gray/plane.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 16px;
  }

  &--bus {
    background-image: url("../img/transport/recolorized/gray/bus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px 16px;
  }

  &--bycicle {
    background-image: url("../img/transport/recolorized/gray/bike.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 19px 17px;
  }

  &--run {
    background-image: url("../img/transport/recolorized/gray/run.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 17px;
  }
}

@media (min-width: $tablet-breakpoint) {
  .change-bio {
    padding-bottom: 0;
  }

  .change-bio__wrapper {
    padding-right: 75px;
    padding-left: 75px;
  }

  .change-bio__content-wrapper {
    justify-content: space-between;

    margin-top: 64px;
  }

  .change-bio__user-img {
    width: 94px;
    height: 94px;

    margin-left: 0;
    border-radius: 10px;
  }

  .change-bio__change-avatar {
    margin-top: 48px;

    padding-top: 20px;
    padding-bottom: 40px;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 1.5px;
  }

  .change-bio__level {
    width: 94px;
    height: 94px;
  }

  .change-bio__pie-graph {
    width: 97px;
    height: 97px;

    top: 3px;
    left: -1px;
  }

  .change-bio__form {
    align-items: stretch;
  }

  .change-bio__transport-button {
    width: 43px;
    height: 43px;

    margin-top: 25px;
  }

  .change-bio__fieldset {
    position: relative;
    max-height: 94px;

    &--change-transport {
      @include reset;

      display: flex;
      position: relative;

      bottom: auto;

      padding-right: 71px;
      padding-left: 55px;

      .change-bio__legend {
        position: absolute;
        top: auto;
        left: 50%;
        bottom: -14px;

        margin-left: -73px;
      }
    }

    &--tags {
      margin-top: 51px;

      align-items: stretch;
    }
  }

  .change-bio__transportation {
    margin-top: 3px;
    margin-left: 13px;
  }

  .change-bio__number {
    padding-top: 11px;
    padding-left: 0;
  }

  .change-bio__text {
    &::before {
      top: -1px;
    }
  }

  .change-bio__tags {
    height: 94px;
    font-size: 20px;
    line-height: 24px;

    padding-top: 32px;
    padding-left: 38px;
  }

  .change-bio__legend {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 1.5px;

    &--tags {
      margin-top: 0;
      margin-bottom: 0;

      position: absolute;
      bottom: -19px;
      left: 50%;

      margin-left: -40px;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .change-bio__wrapper {
    padding-right: 0;
  }

  .change-bio__form {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-top: 73px;
  }

  .change-bio__change-avatar {
    order: 1;
    margin: 0;
    min-width: 190px;

    border-top-right-radius: 0;
    border-top-left-radius: 0;

    padding-top: 13px;
    padding-bottom: 34px;


    position: absolute;
    top: 0;
    right: 155px;

    span {
      display: none;
    }
  }

  .change-bio__fieldset {
    order: 2;
    margin-top: 0;
    height: 94px;
    min-width: 384px;
  }

  .change-bio__tags {
    height: 100%;
    min-width: 730px;
    margin-left: 50px;
  }

  .change-bio__legend {
    &--tags {
      left: 112px;
    }
  }

  .change-bio__transportation {
    margin-top: 3px;
    margin-left: 19px;
  }

  .change-bio__content-wrapper {
    order: 3;
    margin-top: 0;
    width: auto;
    padding-right: 60px;
  }

  .change-bio__user-img {
    display: block;
    width: 190px;
    height: 190px;

    position: absolute;

    top: -190px;
    right: 155px;

    border-radius: 0;
  }

  .change-bio__number {
    color: $white;
    padding-top: 11px;
    padding-left: 3px;
  }

  .change-bio__text {
    color: $white;

    &::before {
      background-color: $white;
    }
  }

  .change-bio__level {
    display: flex;
    position: absolute;
    top: -148px;
    right: 392px;
  }
}
