.children-checkbox__label-name {
  cursor: pointer;
  position: relative;
  font-size: 15px;
  line-height: 29px;
  color: $gray;
  display: flex;
  width: 220px;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 18px;

  &::before {
    content: "";
    width: 26px;
    height: 26px;
    border: 1px solid $blue-10-color;
    border-radius: 4px;
    margin-right: 13px;
  }
}

.children-checkbox__label input:checked + .children-checkbox__label-name {
  &::before {
    background-image: url("../img/icons/mobile/tick.svg");
    background-size: 9px 9px;
    background-repeat: no-repeat;
    background-position: 8px 7px;
  }
}

@media (min-width: $tablet-breakpoint) {
  .children-checkbox__label-name {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    width: 100%;
    padding-top: 7px;

    margin-bottom: 26px;

    &::before {
      width: 36px;
      height: 36px;

      margin-top: -7px;
      margin-right: 22px;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .children-checkbox__label input:checked + .children-checkbox__label-name {
    &::before {
      background-size: 24px 12px;
      background-position: 7px 11px;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .children-checkbox {
    display: flex;
    align-items: center;
  }

  .children-checkbox__label-name {
    padding-top: 0;
    line-height: 36px;
    margin-top: 26px;

    &:hover,
    &:focus {
      &::before {
        border-color: #959bb2;
      }
    }

    &:active {
      &::before {
        border-color: #e2e5f1;
        background-color: #e2e5f1;
      }
    }

    &::before {
      margin-top: -1px;
    }
  }

  .children-checkbox__label input:checked + .children-checkbox__label-name {
    &:active {
      &::before {
        opacity: 0.3;
      }
    }

    &::before {
      background-position: center;
    }
  }
}
