.countries-planned {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries-planned__list {
  @include reset;
  margin-top: 22px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries-planned__country {

  font-family: inherit;
  text-align: left;


  max-width: 221px;

  position: relative;
  display: flex;
  margin-bottom: 22px;
  min-width: 168px;

  &:nth-last-child(2) {
    .countries-planned__delete {
      top: 11px;
      right: 11px;

      background-color: transparent;

      &::after {
        opacity: 1;
        background-image: url("../img/icons/mobile/small-cross--white.svg");
      }
    }
  }

  &--ba {
    &::after {
      background-image: url("../img/flag-bosnia.svg");
    }
  }

  &--cz {
    &::after {
      background-image: url("../img/flag-czech.svg");
    }
  }

  &:not(:nth-last-child(2))::after {
    content: "";
    width: 53px;
    height: inherit;
    border: 1px solid $blue-10-color;
    border-radius: 4px;
    background-size: 35px 24px;
    background-position: 9px 9px;
    background-repeat: no-repeat;
  }

  &:not(:nth-last-child(2))::before {
    content: "";
    position: absolute;
    bottom: 17px;
    right: 49px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $text__dark-blue;
    z-index: 5;
  }

  &:nth-last-child(1) {
    position: relative;
    margin-bottom: 20px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.countries-planned__country-name {
  background: none;

  font-family: inherit;
  text-align: left;

  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.5px;
  color: $text__dark-blue;
  text-transform: uppercase;
  padding-right: 10px;
  border: 1px solid $blue-10-color;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 168px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 49px;
    background-image: linear-gradient(90deg, rgba($white, 0) 10%, $white 35%, $white 100%);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 16px;
    right: 13px;
    display: block;
    width: 12px;
    height: 7px;
    background-image: url("../img/icons/dropdown-form.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 7px;
    opacity: 0.3;
  }
}

.countries-planned__delete {
  height: 21px;
  width: 21px;
  background: none;
  border: none;
  border-radius: 50%;
  background-color: $main-color;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-image: url("../img/icons/mobile/small-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    background-size: 9px 9px;
  }
}

.countries-planned__choose {
  background: none;

  font-family: inherit;
  text-align: left;

  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.4px;
  color: $text__dark-blue;
  text-transform: uppercase;
  border: 1px solid $blue-10-color;
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 73px;
  padding-bottom: 10px;
  padding-left: 12px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 16px;
    right: 48px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid $grayish-blue-light;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 16px;
    right: 14px;
    display: block;
    width: 12px;
    height: 7px;
    background-image: url("../img/icons/dropdown-form.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 7px;
    opacity: 0.3;
  }

  &--active {
    background-color: $text__dark-blue;
    color: $white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid $blue-10-color;

    width: 221px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.countries-planned__add {
  font-family: inherit;
  text-align: left;

  position: relative;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-right: 73px;
  padding-bottom: 11px;
  padding-left: 12px;
  background-color: $main-color;
  border-radius: 4px;
  margin-bottom: 4px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 17px;
    right: 49px;
    width: 8px;
    height: 8px;
    border: 1px solid $grayish-blue-light;
    border-radius: 50%;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url("../img/icons/mobile/qty-plus-mobile.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
    bottom: 14px;
    right: 14px;
  }
}

.countries-planned__add-block {
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 10;
}

@media (min-width: $tablet-breakpoint) {
  .countries-planned__list {
    width: 100%;
    position: relative;

    align-items: flex-start;

    margin-top: 0;
    margin-bottom: 0;

    padding-top: 41px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 139px;

      display: block;
      height: 100%;
      width: 1px;
      background-color: $grayish-blue-light-alt-3;
    }
  }

  .countries-planned__country {
    margin-left: 3px;
    max-width: 100%;
    width: 369px;
    margin-bottom: 15px;

    &--ba {
      &::after {
        background-image: url("../img/flag-bosnia.svg");
      }
    }

    &--cz {
      &::after {
        background-image: url("../img/flag-czech.svg");
      }
    }

    &:nth-last-child(2) {
      .countries-planned__delete {
        top: 25px;
        right: 25px;

        &::after {
          opacity: 1;
          background-image: url("../img/icons/mobile/small-cross--white.svg");
        }
      }
    }

    &:not(:nth-last-child(2)) {
      &::before {
        display: block;
        background-color: $text__dark-blue;

        width: 15px;
        height: 15px;

        right: -34px;
        bottom: 29px;
      }

      &::after {
        display: block;
        width: 70px;
        height: 47px;
        position: absolute;
        top: 12px;
        right: -123px;
        background-position: 0 0;
        background-size: contain;


        border: none;
      }
    }

    &:last-child {
      margin-bottom: 15px;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

  .countries-planned__country-name {
    max-width: 100%;
    width: 100%;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;

    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;

    &::after {
      width: 17px;
      height: 9px;

      background-size: 17px 9px;

      bottom: 29px;
      right: 26px;
    }
  }

  .countries-planned__choose {
    max-width: 100%;
    width: 369px;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;

    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;

    &::before {
      width: 15px;
      height: 15px;

      background-color: $white;

      right: -35px;
      bottom: 28px;
    }

    &::after {
      width: 17px;
      height: 9px;

      background-size: 17px 9px;

      bottom: 29px;
      right: 26px;
    }
  }

  .countries-planned__add {
    max-width: 100%;
    width: 369px;

    position: relative;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2.5px;

    padding-top: 27px;
    padding-left: 25px;
    padding-bottom: 25px;

    &::before {
      width: 15px;
      height: 15px;

      background-color: $main-color;

      right: -34px;
      bottom: 29px;
    }

    &::after {
      width: 18px;
      height: 18px;

      background-size: 18px 18px;

      bottom: 26px;
      right: 27px;
    }
  }

  .countries-planned__add-block {
    position: absolute;
    top: 69px;
    left: 0;
    z-index: 10;
  }

  .countries-planned__delete {
    top: 24px;
    right: -167px;
    background-color: transparent;

    &::after {
      top: -4px;
      left: -3px;

      width: 27px;
      height: 27px;

      background-size: 17px 17px;

      opacity: 0.2;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .countries-planned {
    margin-right: 160px;
    margin-left: 160px;
    margin-top: 56px;
  }

  .countries-planned__list {
    padding-top: 62px;
    padding-bottom: 7px;

    &::before {
      right: 224px;
    }
  }

  .countries-planned__country {
    width: 730px;
    margin-left: 0;

    &:not(:nth-last-child(2)) {
      &::before {
        right: -53px;
      }

      &::after {
        right: -155px;
      }
    }

    &:nth-last-child(2) {
      .countries-planned__delete {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        background-image: url("../img/icons/mobile/small-cross--white.svg");
      }
    }
  }

  .countries-planned__delete {
    &::after {
      left: 96px;
    }
  }

  .countries-planned__choose {
    width: 100%;

    &::before {
      right: -54px;
    }
  }

  .countries-planned__add {
    width: 100%;

    &::before {
      right: -52px;
      bottom: 30px;
    }
  }
}
