.country-filter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $grayish-blue-light-alt;
  padding-bottom: 27px;
}

.country-filter__name-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-left: 29px;
}

.country-filter__name {
  @include reset;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  padding-right: 5px;
  padding-left: 23px;
  color: $background__dark-blue;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: -4px;
    bottom: 7px;
    display: block;
    width: 15px;
    height: 10px;
    background-image: url("../img/icons/mobile/filter.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.country-filter__button {
  cursor: pointer;

  &--open {
    position: relative;
    z-index: 5;
    background: none;
    border: none;
    margin-left: 23px;
    width: 17px;
    height: 5px;
    background-image: url("../img/icons/mobile/dots.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -3px;
  }

  &--collapse {
    background: none;
    position: relative;
    z-index: 5;
    border: none;
    display: block;
    margin-left: 21px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/filter-close.svg");
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
  }
}

.country-filter__continents-selection {
  display: none;
  margin-right: 50px;
  margin-bottom: 19px;
}

.country-filter__colon {
  display: none;
}

.country-filter__button-text {
  display: none;
}

@media (min-width: $tablet-breakpoint) {
  .country-filter {
    position: relative;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    padding-bottom: 33px;
  }

  .country-filter__name {
    display: none;
  }

  .country-filter__name-wrapper {
    max-width: 100%;
    align-self: stretch;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-left: 0;
  }

  .country-filter__continents-selection {
    display: flex;
    flex-direction: row;

    margin-top: 43px;
    margin-left: 73px;
    margin-bottom: 0;
  }

  .country-filter__button {
    font-family: inherit;
    width: auto;

    padding-right: 83px;
    padding-bottom: 18px;

    margin-top: 31px;
    margin-right: 77px;

    &--collapse {
      background-size: 18px 18px;
      background-position: 160px 4px;
    }
  }

  .country-filter__button-text {
    font-family: inherit;

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;

    display: inline;
    text-transform: uppercase;
  }

  .country-filter__select-country {
    align-self: stretch;
  }
}

@media (min-width: $desktop-breakpoint) {
  .country-filter {
    background: none;
  }

  .country-filter__name {
    display: flex;

    font-size: 20px;
    line-height: 24px;

    padding-left: 39px;

    margin-top: 19px;

    &::before {
      width: 23px;
      height: 15px;
    }
  }

  .country-filter__name-wrapper {
    justify-content: flex-start;
    padding-top: 34px;
    padding-left: 84px;
  }

  .country-filter__continents-selection {
    margin-top: 23px;
    margin-left: 29px;
  }

  .country-filter__button {
    margin-top: 14px;
    margin-right: 127px;
    margin-left: auto;
  }

  .country-filter__colon {
    display: inline;
  }
}
