.developers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  text-decoration: none;
  font-size: $text-size_default;
  font-weight: 400;
  color: $color_tundora;
  border-top: 1px solid $color_whisper;
  box-sizing: border-box;
}

.developers__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developers__logo {
  width: 27px;
  height: 34px;
  fill: $color_cello;
}
