.header {
  width: 100%;
  background-color: $header-color;
  position: relative;
  z-index: 3;
}

@media (min-width: $tablet-breakpoint) {
  .header {
    &--index {
      background-color: $header-color-tablet;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .header {
    &--index {
      background-color: $header-color;
    }
  }
}
