.information {
  width: 100%;

  background: $white;


  .information__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 65px;
  }
}

.information__auth-link {
  @include reset;
  text-decoration: none;

  display: block;
  height: 50px;
  max-width: 270px;

  background-color: $universal__bright-yellow;
  border-radius: 25px;

  color: $header-color;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;

  padding: 12px 80px;
  margin-top: 49px;
}

.information__contacts {
  @include reset;
  margin-top: 50px;
  margin-left: -33px;
}

.information__social {
  @include reset;
  margin-top: 29px;
  padding-bottom: 28px;
}

.information__inner-links {
  @include reset;
}

@media (min-width: $tablet-breakpoint) {
  .information {
    padding-left: 97px;
    align-items: initial;

    display: none;
  }

  .information__inner-links {
    margin-top: 24px;
  }

  .information__auth-link {
    display: none;
  }

  .information__contacts {
    margin-left: 0;
    margin-top: 133px;

    width: 100%;
  }

  .information__social {
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-breakpoint) {
  .information {
    @include reset;
    background: none;
  }

  .information__contacts {
    display: none;
  }

  .information__social {
    display: none;
  }

  .information__inner-links {
    margin-top: 11px;
    margin-left: 110px;

    display: none;
  }
}
