.information {
  width: 100%;

  background: $white;
}

.information__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 24px;
}

.information__auth-link {
  @include reset;
  text-decoration: none;

  display: block;
  height: 50px;
  max-width: 270px;

  background-color: $universal__bright-yellow;
  border-radius: 25px;

  color: $header-color;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;

  padding: 12px 80px;
  margin-top: 49px;
}

.information__contacts {
  @include reset;
  margin-top: 50px;
  margin-left: -33px;
}

.information__social {
  @include reset;
  margin-top: 29px;
  padding-bottom: 28px;
}

.information__inner-links {
  @include reset;
}

.information__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 28px;
  padding-left: 25px;
  margin-bottom: 71px;
  padding-top: 2px;
}

.information__logo {
  font-size: 0;
  width: 100px;
  height: 19px;
  background-image: url("../img/mobile/logo-mobile-blue@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    background-image: url("../img/mobile/logo-mobile-blue@2x.png");
    background-size: 100px 19px;
  }
}


.information__close-button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 0;
  position: relative;
  cursor: pointer;
  opacity: 0.3;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #cccccc;
    width: 26px;
    height: 2px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #cccccc;
    width: 26px;
    height: 2px;
  }
}

@media (min-width: $tablet-breakpoint) {
  .information {
    align-items: initial;
  }

  .information__inner-links {
    margin-top: 24px;
    align-self: flex-start;
    padding-left: 97px;
  }

  .information__auth-link {
    margin-top: 0;
    font-size: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 17px 30px 13px;
    line-height: 1;
    height: auto;
    max-width: 200px;
  }

  .information__contacts {
    margin-left: 0;
    margin-top: 132px;

    padding-left: 97px;
    align-self: flex-start;
  }

  .information__social {
    justify-content: flex-start;
    margin-top: 120px;
    align-self: flex-start;
    padding-left: 105px;
    padding-bottom: 69px;

    .social__link {
      color: #cccccc;
    }

    .social__link--facebook svg {
      width: 14px;
      height: 28px;
    }

    .social__link--vk svg {
      width: 31px;
      height: 16px;
    }

    .social__link--instagram svg {
      width: 24px;
      height: 24px;
    }
  }

  .information__logo {
    width: 166px;
    height: 42px;
    background-image: url("../img/tablet/logo-tablet-blue@1x.png");
    background-size: 166px 42px;
  }

  .information__wrapper {
    padding-top: 43px;
  }

  .information__header {
    padding-left: 41px;
    padding-right: 41px;
    position: relative;
  }

  .information__close-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-breakpoint) {
  .information {
    @include reset;
    background: none;
  }

  .information__contacts {
    display: none;
  }

  .information__social {
    display: none;
  }

  .information__inner-links {
    margin-top: 11px;
    margin-left: 110px;

    display: none;
  }
}
