.main-nav {
  display: inline-flex;
  background-color: transparent;
}

.main-nav__toggle {
  font-size: 0;
  width: 25px;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    height: 19px;
  }

  .main-nav__wrapper {
    display: block;
  }

  .main-nav__site-list {
    display: none;
  }

  .main-nav__contacts {
    display: none;
  }

  .main-nav__social {
    display: none;
  }

  .main-nav__user-list {
    position: absolute;
    top: -11px;
    right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__social {
    display: none;
  }

  .main-nav__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav__contacts {
    display: flex;
    order: 2;
    margin: 0 0 0 300px;
    padding-left: 0;
  }

  .main-nav__site-list {
    display: block;
    order: 1;
    margin: 0 auto 0 145px;
    padding-left: 0;
  }

  .main-nav__user-list {
    position: static;
    top: auto;
    right: auto;
    order: 3;
  }
}
