.mates-sorted {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 28px;
  padding-bottom: 77px;
}

.mates-sorted__list {
  @include reset;
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;
}

.mates-sorted__item {
  @include reset;
  display: block;
  max-width: 270px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.mates-sorted__link {
  @include reset;
  text-decoration: none;

  display: flex;
  justify-content: center;

  color: $rgba__bright-blue;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;

  text-transform: uppercase;

  margin-top: 20px;
  margin-left: -3px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";

    width: 18px;
    height: 18px;

    background: url("../img/icons/mobile/show-more-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    margin-top: 4px;
    margin-right: 15px;
  }
}

.mates-sorted__navigation {
  @include reset;

  display: flex;
  justify-content: center;
}

.mates-sorted__page-navigation {
  @include reset;
  margin-top: 19px;
}

@media (min-width: $tablet-breakpoint) {
  .mates-sorted {
    @include tablet-paddings;
    align-items: stretch;

    padding-top: 40px;
    padding-bottom: 116px;
  }

  .mates-sorted__list {
    width: 100%;
  }

  .mates-sorted__item {
    max-width: 100%;
    width: 688px;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  .mates-sorted__link {
    font-size: 20px;
    line-height: 30px;

    margin-top: 44px;

    margin-left: -9px;

    &::before {
      width: 27px;
      height: 27px;

      margin-top: 1px;
      margin-right: 23px;
    }
  }

  .mates-sorted__navigation {
    margin-top: 49px;
    width: 688px;
    background-color: $white;
    justify-content: space-between;

    padding-top: 21px;
    padding-bottom: 10px;

    border-radius: 20px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .mates-sorted__item {
    min-width: 950px;
    max-height: 285px;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  .mates-sorted__link {
    margin-top: 63px;
    margin-left: -76px;
  }

  .mates-sorted__navigation {
    width: 950px;
    margin-top: 68px;
    margin-bottom: 108px;
  }
}
