.mates-filter {
  position: relative;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
  padding-right: 25px;
  padding-left: 25px;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: $main-color;
    z-index: -1;
  }
}

.mates-filter__wrapper {
  max-width: 270px;

  background-color: $universal__bright-yellow;
  border-radius: 20px;


  padding-top: 2px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 22px;
}

.mates-filter__heading {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: $text__dark-blue;
}

.mates-filter__form {
  margin-top: 26px;
}

.mates-filter__colon {
  display: none;
}

.mates-filter__transport-block {
  padding-bottom: 33px;
}

.mates-filter__level-filter {
  padding-bottom: 26px;
}

.mates-filter__preferences {
  @include reset;
}

.mates-filter__preference {
  &--hidden {
    .preference__checkboxes {
      display: none;
    }

    .preference__block-name {
      &::after {
        transform: rotate(0);
      }
    }
  }
}

.mates-filter__submit {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;

  color: $blue-700-color;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  margin-left: -5px;

  padding-top: 7px;
  padding-left: 75px;
  padding-right: 77px;
  padding-bottom: 3px;

  background-color: $white;
  border-radius: 20px;

  &:hover {
    box-shadow: 2px 0 10px rgba($black, 0.08);
  }

  &:active {
    box-shadow: none;

    color: rgba($blue-700-color, 0.3);
    background-color: $yellow-bright;
  }
}

.mates-filter__transportation {
  margin-bottom: 30px;
}

.mates-filter__set-level {
  margin-bottom: 26px;
}

@media (min-width: $tablet-breakpoint) {
  .mates-filter {
    padding-right: 40px;
    padding-left: 40px;

    padding-top: 46px;
  }

  .mates-filter__heading {
    font-size: 30px;
    line-height: 30px;

    padding-left: 9px;

    margin-top: 32px;
    margin-bottom: 0;
  }

  .mates-filter__colon {
    display: inline;
  }

  .mates-filter__form {
    border-top: 1px solid $yellow-bright;

    margin-top: 39px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .mates-filter__wrapper {
    max-width: 100%;
    width: 688px;

    padding-bottom: 38px;
  }

  .mates-filter__transportation {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;

    margin-top: -8px;
  }

  .mates-filter__set-level {
    display: flex;
    margin-top: 14px;
  }

  .mates-filter__preferences {
    margin-top: 31px;
  }

  .mates-filter__preference {
    &:not(:first-child) {
      margin-top: 1px;
    }

    &--hidden {
      .preference__checkboxes {
        display: flex;
      }
    }
  }

  .mates-filter__submit {
    width: 100%;
    font-size: 20px;
    line-height: 30px;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 25px;

    margin-top: 23px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-breakpoint) {
  .mates-filter {
    @include reset;
    margin-right: 0;

    margin-left: 84px;
  }

  .mates-filter__form {
    border-top: none;
    margin-top: 0;
    padding-left: 12px;
  }

  .mates-filter__heading {
    margin-top: 41px;
    padding-left: 22px;
  }

  .mates-filter__preference {
    &--hidden {
      .preference__checkboxes {
        display: none;
      }

      .preference__block-name {
        &::after {
          transform: rotate(0);
          bottom: 25px;
        }
      }
    }

    &:not(:first-child) {
      margin-top: -2px;
    }
  }

  .mates-filter__wrapper {
    max-width: 285px;
    padding-bottom: 47px;
  }

  .mates-filter__colon {
    display: none;
  }

  .mates-filter__transportation {
    flex-direction: column;
    margin-top: 0;
  }

  .mates-filter__set-level {
    flex-direction: column;
    margin-top: 21px;
  }

  .mates-filter__submit {
    width: 196px;

    padding-left: 51px;

    margin-top: 17px;
  }
}
