.month-selection {
  border-top: 1px solid $blue-10-color;
  border-bottom: 1px solid $blue-10-color;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
}

.month-selection__month-year {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $text__dark-blue;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.month-selection__button {
  background: none;
  border: none;
  width: 10;
  height: 18;
  background-repeat: no-repeat;
  background-size: 9px 18px;
  opacity: 0.3;

  &--previous {
    background-image: url("../img/icons/mobile/month-arrow-left.svg");
    background-position: 0 12px;
  }

  &--next {
    background-image: url("../img/icons/mobile/month-arrow-right.svg");
    background-position: 3px 12px;
  }
}


@media (min-width: $tablet-breakpoint) {
  .month-selection__month-year {
    font-size: 36px;

    padding-top: 33px;
    padding-right: 130px;
    padding-left: 130px;
    padding-bottom: 32px;
  }

  .month-selection__button {
    width: 50px;
    background-size: 19px 34px;
    background-position: 16px 26px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .month-selection {
    width: 100%;
  }

  .month-selection__button {
    width: 50px;
    background-size: 19px 34px;

    &--next {
      background-position: 31px 26px;
    }

    &--previous {
      background-position: 0 26px;
    }
  }
}
