.my-plan {
  background-color: #dfe3f0;
  position: relative;
  padding-bottom: 60px;

  &::before {
    content: '';
    background-color: #dfe3f0;
    right: 0;
    left: 0;
    top: -30px;
    height: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: absolute;
  }
}

.my-plan__wrapper {
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;

}

.my-plan__title {
  margin-top: 0;
  margin-bottom: 28px;
  line-height: 1;
}

.my-plan__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  counter-reset: my-plan;
}

.my-plan__item {
  background-color: $color_white;
  border-radius: 10px;
  padding: 24px 25px 21px;
  position: relative;

  &:not(:first-of-type) {
    margin-top: 10px;
  }

  &::before {
    counter-increment: my-plan;
    content: counters(my-plan,'.')'.';
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 16px;
    line-height: 1;
    color: #1d2e5b;
    font-weight: 700;
  }
}

.my-plan__subtitle {
  margin-top: 0;
  font-size: 16px;
  line-height: 1;
  color: #1d2e5b;
  font-weight: 700;
  margin-left: 16px;
  margin-bottom: 20px;
}

.my-plan__companion,
.my-plan__dates {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  color: #1d2e5b;
  letter-spacing: 1.4px;
  font-weight: 500;
}

.my-plan__companion {
  margin-bottom: 5px;
}

.my-plan__dates {
  margin-top: 0;
  margin-bottom: 23px;
}

.my-plan__change {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-decoration: none;
}
