.my-plan {
  background-color: #dfe3f0;
  position: relative;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }

  &::before {
    content: "";
    background-color: #dfe3f0;
    right: 0;
    left: 0;
    top: -30px;
    height: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: absolute;

    @media (min-width: $desktop-width) {
      height: 60px;
      top: -59px;
      border-top-right-radius: 60px;
      border-top-left-radius: 60px;
    }
  }
}

.my-plan__wrapper {
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    max-width: 618px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1256px;
    padding-left: 63px;
    padding-top: 0;
  }
}

.my-plan__title {
  margin-top: 0;
  margin-bottom: 28px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1.39;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 8px;
    letter-spacing: -0.4px;
    margin-bottom: 44px;
    line-height: 1;
    transform: translateY(-3px);
  }
}

.my-plan__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  counter-reset: my-plan;
}

.my-plan__item {
  background-color: $color_white;
  border-radius: 10px;
  padding: 24px 25px 21px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 35px 10px 33px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    padding-top: 38px;
    padding-right: 39px;
    padding-bottom: 35px;
  }

  &:not(:first-of-type) {
    margin-top: 10px;

    @media (min-width: $desktop-width) {
      margin-top: 15px;
    }
  }

  &::before {
    counter-increment: my-plan;
    content: counters(my-plan, ".") ".";
    position: absolute;
    top: 43px;
    left: 24px;
    font-size: 16px;
    line-height: 1;
    color: #1d2e5b;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 500;
      left: auto;
      right: 28px;
    }

    @media (min-width: $desktop-width) {
      right: auto;
      left: 43px;
      top: 40px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #dfe3f0;
      bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      content: none;
    }
  }
}

.my-plan__subtitle {
  margin-top: 0;
  font-size: 16px;
  line-height: 1;
  color: #1d2e5b;
  font-weight: 700;
  margin-left: 16px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-left: 3px;
    flex-basis: 100%;
    margin-bottom: 53px;
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: auto;
    margin-bottom: 0;
    margin-left: 63px;
  }
}

.my-plan__companion,
.my-plan__dates {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  color: #1d2e5b;
  letter-spacing: 1.4px;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
  }
}

.my-plan__companion {
  margin-bottom: 5px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    min-width: 140px;
    margin-left: auto;
  }
}

.my-plan__dates {
  margin-top: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-right: 70px;
    margin-left: auto;
    margin-bottom: 0;
    min-width: 190px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 118px;
    margin-left: 37px;
  }
}

.my-plan__change {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
