.page-navigation {
  list-style: none;

  display: flex;
  justify-content: center;
  width: 270px;
  height: 50px;

  background-color: $white;
  border-radius: 20px;
}

.page-navigation__item {
  @include reset;
  position: relative;
  width: 50%;
  height: 100%;

  &:last-child {
    border-left: 1px solid $main-color;
  }

  &::after {
    content: "";
    display: flex;
    width: 10px;
    height: 20px;
    justify-content: center;
    position: absolute;
    top: 15px;
    left: 62px;

    background: url("../img/icons/mobile/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:first-child {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.page-navigation__link {
  @include reset;
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-breakpoint) {
  .page-navigation {
    justify-content: flex-end;
    padding-right: 35px;
  }

  .page-navigation__item {
    width: 10px;

    &::after {
      top: 0;
      left: 0;
    }

    &:last-child {
      border-left: none;
      margin-left: 33px;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .page-navigation {
    padding-right: 45px;
  }
}
