.page-navigation {
  list-style: none;

  display: flex;
  justify-content: center;
  width: 270px;
  height: 50px;

  background-color: $white;
  border-radius: 20px;
}

.page-navigation__item {
  @include reset;
  position: relative;
  width: 50%;
  height: 100%;

  &:last-child {
    border-left: 1px solid $main-color;
  }

  &::after {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 62px;
    pointer-events: none;

    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left-color: #192144;
  }

  &:first-child {
    &::after {
      border-right-color: #192144;
      border-left-color: transparent;
      left: auto;
      right: 62px;
    }
  }
}

.page-navigation__link {
  @include reset;
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-breakpoint) {
  .page-navigation {
    justify-content: flex-end;
    padding-right: 35px;
    margin-top: 0;
  }

  .page-navigation__item {
    width: 30px;

    &::after {
      left: 20px;
    }

    &:first-child {
      &::after {
        right: 13px;
      }
    }

    &:last-child {
      border-left: none;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .page-navigation {
    padding-right: 45px;
    margin-top: 0;
  }

  .page-navigation__item {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
