.page-header {
  box-sizing: border-box;
  padding: 19px 0;
  background-color: $color_big-stone;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 60px;
    background-color: $color_big-stone;
  }

  @media (min-width: $desktop-width) {
    padding-top: 48px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 25px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    position: relative;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
  }

  @include container();
}

.page-header__logo {
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 40px;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
