.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}

.pagination__item {
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
  width: 50%;
  text-align: center;

  &:nth-child(2) {
    border-right: 1px solid #edeff6;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.pagination__link {
  font-size: 0;
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: $color_white;

  &_prev {
    background-image: url("../img/triangle-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 20px;
  }

  &_next {
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 20px;
  }
}

.pagination__list {
  display: none;
}

.pagination__pages {
  display: none;
}

@media (min-width: $tablet-width) {
  .pagination {
    justify-content: space-between;
    height: 100px;
    padding-right: 20px;
    padding-left: 28px;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .pagination__pages {
    display: flex;
  }

  .pagination__page {
    display: flex;
    align-items: center;
  }

  .pagination__page-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  .pagination__page-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #161c35;

    &_active {
      border-radius: 50%;
      background-color: $color_mustard;
    }
  }

  .pagination__item {
    width: 40px;
    height: 100%;

    &:nth-child(2) {
      margin-left: auto;
      border: none;
    }
  }

  .pagination__link {
    height: 100%;
    background-size: 10px 20px;
  }
}
