.person {
  background-color: $color_whisper;
  padding-top: 43px;

  min-height: 100vh;

}

.person__wrapper {
  max-width: 270px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.person__level {
  flex: initial;
  width: 100px;
  height: 100px;
}

.person__level .level__count {
  font-size: 38px;
  line-height: 46px;
  color: $color_big-stone;
}

.person__level .level__title {
  font-size: 18px;
  position: relative;
  color: $color_tundora;

  &::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #cbced9;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.person__level .level__progress {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}

.person__level .level__circle {
  width: 100px;
  height: 100px;
}

.person__avatar {
  width: 100px;
  height: 100px;
  flex: initial;
  overflow: hidden;
  border-radius: 50%;
}

.person__avatar img {
  display: block;
  width: 100%;
  height: auto;
}
