.person {
  background-color: $color_whisper;
  padding-top: 43px;
  padding-bottom: 63px;

  @media (min-width: $tablet-width) {
    padding-top: 124px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 133px;
  }
}

.person__wrapper {
  max-width: 270px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    max-width: 618px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1192px;
    position: relative;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.person__level {
  flex: initial;
  width: 100px;
  height: 100px;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 94px;
    height: 94px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -221px;
    right: 266px;
    z-index: 10;
  }
}

.person__level .level__count {
  font-size: 38px;
  line-height: 46px;
  color: $color_big-stone;

  @media (min-width: $desktop-width) {
    color: $color_white;
  }
}

.person__level .level__title {
  font-size: 18px;
  position: relative;
  color: $color_tundora;

  @media (min-width: $desktop-width) {
    color: $color_white;
  }

  &::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #cbced9;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
  }
}

.person__level .level__progress {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
  }
}

.person__level .level__circle {
  width: 100px;
  height: 100px;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
    cx: 47;
    cy: 47;
    r: 45;
  }
}

.person__avatar {
  width: 100px;
  height: 100px;
  flex: initial;
  overflow: hidden;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    order: 3;
    border-radius: 6px;
    width: 94px;
    height: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
    position: absolute;
    right: 31px;
    top: -264px;
    z-index: 10;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.person__avatar img {
  display: block;
  width: 100%;
  height: auto;
}

.person__change-photo {
  background-color: #dfe3f0;
  color: $color_big-stone;
  display: block;
  padding: 12px 10px 9px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 19px;
  flex: auto;
  text-align: center;
  letter-spacing: 0.2px;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    order: 4;
    flex: auto;
    width: 100%;
    margin-top: 52px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 10px;
    padding: 20px 10px 18px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 31px;
    top: -74px;
    width: 190px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index: 10;
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 14px;
    padding-bottom: 11px;
  }
}

.person__change-photo-hide {
  @media (min-width: $desktop-width) {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.person__tags {
  position: relative;
  padding: 22px 24px 21px;
  border: 1px solid #cbced9;
  border-radius: 10px;
  margin-top: 33px;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    order: 5;
    margin-top: 51px;
    flex: auto;
    padding: 34px 39px 34px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    order: 1;
    width: 730px;
    flex: none;
    box-sizing: border-box;
    margin-right: 142px;
  }

  &::after {
    content: 'Тэги';
    position: absolute;
    font-size: 16px;
    line-height: 18px;
    color: $color_cello;
    text-transform: uppercase;
    padding: 6px 17px;
    box-sizing: border-box;
    z-index: 10;
    background-color: $color_whisper;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    font-weight: 600;

    @media (min-width: $tablet-width) {
      top: auto;
      bottom: -18px;
      font-size: 20px;
      letter-spacing: 2px;
    }

    @media (min-width: $desktop-width) {
      left: 62px;
    }
  }
}

.person__tags .tags__item {
  margin-right: 5px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-right: 6px;
  }
}

.person__tags .tags__item:last-child {
  margin-right: auto;
}

.person__transports {
  position: relative;
  width: 100%;
  padding: 14px 10px;
  margin-top: 25px;
  border: 1px solid #cbced9;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    order: 2;
    width: auto;
    margin-right: 62px;
    margin-left: 60px;
    flex: auto;
    margin-top: 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 362px;
    flex: none;
  }

  &::after {
    content: 'Транспорт';
    position: absolute;
    font-size: 16px;
    line-height: 18px;
    color: $color_cello;
    text-transform: uppercase;
    padding: 7px 14px 4px;;
    box-sizing: border-box;
    z-index: 10;
    background-color: $color_whisper;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    font-weight: 600;

    @media (min-width: $tablet-width) {
      top: auto;
      bottom: -15px;
      font-size: 20px;
      letter-spacing: 1.3px;
    }
  }
}

.person__transports .transports__icon {
  width: auto;
  height: auto;
}

.person__transports .transports__item {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color_white;
  border-radius: 50%;
  margin: 0;
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: 42px;
    height: 42px;
  }

  &:nth-of-type(1) .transports__icon {
    transform: translateX(-2px);

    @media (min-width: $tablet-width) {
      transform: translateX(-1px);
      width: 19px;
      height: 21px;
    }
  }

  &:nth-of-type(2) .transports__icon {
    @media (min-width: $tablet-width) {
      width: 17px;
      height: 21px;
    }
  }

  &:nth-of-type(3) .transports__icon {
    @media (min-width: $tablet-width) {
      width: 24px;
      height: 21px;
    }
  }

  &:nth-of-type(4) .transports__icon {
    transform: translateX(-1px);

    @media (min-width: $tablet-width) {
      transform: translateX(1px);
      width: 20px;
      height: 21px;
    }
  }
}
