.quote {
  position: relative;

  padding-top: 26px;
  padding-right: 110px;
  padding-left: 50px;

  background-color: $header-color;
  width: 100%;

  &::before {
    content: "";

    display: block;
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: $header-color;
  }
}

.quote__text {
  @include reset;
  color: $white;
  font-size: 16px;
  line-height: 22px;

  &--author {
    padding-top: 18px;
    font-weight: 700;
  }
}

@media (min-width: $tablet-breakpoint) {
  .quote {
    background: none;

    &::before {
      display: none;
    }
  }

  .quote__text {
    font-size: 28px;
    line-height: 33px;

    max-width: 290px;

    padding-top: 6px;
    padding-left: 24px;

    &--author {
      font-size: 21px;
      line-height: 25px;

      padding-top: 44px;
    }
  }
}


@media (min-width: $desktop-breakpoint) {
  .quote {
    background: none;

    padding-left: 28px;
    max-width: 420px;

    &::before {
      display: none;
    }
  }

  .quote__text {
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
    margin-right: 0;
    margin-left: auto;

    &--author {
      font-size: 21px;
      line-height: 25px;
      font-weight: 700;
    }
  }
}
