.review {
  font-size: $text-size_default;
  line-height: 22px;
  color: $color_white;
  background-color: $color_big-stone;
}

.review__blockquote {
  font-weight: 300;
  margin: 0;
  padding-bottom: 25px;
}

.review__cite {
  font-weight: 700;
}

.review__name {
  display: block;
}

@media (min-width: $tablet-width) {
  .review {
    background-color: transparent;
  }

  .review__blockquote {
    font-size: 28px;
    line-height: 33px;
  }

  .review__cite {
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .review__blockquote {
    padding-bottom: 43px;
  }
}
