.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $color_neon-carrot;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: $desktop-width) {
  .section-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
  }
}
