.steps-ordered {
  display: flex;
  flex-direction: column;
  width: 270px;

  background-color: $white;
  border-radius: 10px;
  padding-top: 4px;
  margin-top: 10px;
  padding-bottom: 9px;

  &:first-child {
    margin-top: 0;
    padding-bottom: 22px;
  }
}

.steps-ordered__progress {
  display: none;
}

.steps-ordered__heading {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  font-size: 20px;
  line-height: 20px;
  color: $text__dark-blue;
  padding-top: 20px;
}

.steps-ordered__description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $gray;
  padding-top: 15px;
  padding-right: 25px;
  padding-left: 25px;

  br {
    display: none;
  }
}

.steps-ordered__inputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-ordered__children-label {
  position: relative;
  font-size: 15px;
  line-height: 29px;
  color: $gray;
  display: flex;
  width: 220px;
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: 18px;

  &::before {
    content: "";
    width: 26px;
    height: 26px;
    border: 1px solid $blue-10-color;
    border-radius: 4px;
    margin-right: 13px;
  }
}

.steps-ordered__children-check:checked + .steps-ordered__children-label {
  &::before {
    background-image: url("../img/icons/mobile/tick.svg");
    background-size: 9px 9px;
    background-repeat: no-repeat;
    background-position: 8px 7px;
  }
}

.steps-ordered__next {
  display: block;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: $universal__bright-yellow;
  font-size: 17px;
  line-height: 30px;
  padding-top: 7px;
  padding-bottom: 3px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: $blue-700-color;

  &:hover {
    background-color: $orangish-yellow-color;
  }

  &:active {
    color: rgba($text__dark-blue, 0.3);
  }
}

.steps-ordered__route {
  padding-top: 10.5px;
}

.steps-ordered__movement {
  margin-top: 6px;

  &--top-fix {
    margin-top: 0;
  }

  &--send {
    margin-top: 0;
  }
}

.steps-ordered__previous {
  text-align: center;
  font-size: 17px;
  line-height: 30px;
  color: $blue-700-color;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 13px;
}

.steps-ordered__step-description {
  position: relative;
  margin-bottom: 19px;

  &:first-of-type {
    margin-top: 19px;

    &::after {
      content: "";

      display: block;
      width: 2px;
      height: 281px;

      position: absolute;
      top: 13px;
      left: 11px;

      background-color: $text__dark-blue;
    }
  }

  &:last-of-type {
    margin-bottom: 22px;
  }
}

.steps-ordered__submit {
  font-family: inherit;

  display: block;
  width: 230px;

  margin: 0 auto;
  background: none;
  border: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $blue-700-color;
  text-transform: uppercase;
  text-align: center;
  background-color: $universal__bright-yellow;
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 3px;
}

@media (min-width: $tablet-breakpoint) {
  .steps-ordered {
    width: 618px;

    border-radius: 30px;
    padding-bottom: 53px;

    &:first-child {
      padding-bottom: 55px;
    }

    &:not(:first-child) {
      margin-top: 40px;
    }

    &:last-child {
      margin-top: 51px;
    }
  }

  .steps-ordered__heading {
    font-size: 36px;
    line-height: 36px;

    padding-top: 40px;
    padding-left: 43px;
  }

  .steps-ordered__description {
    font-size: 20px;
    line-height: 24px;

    padding-left: 44px;
    padding-top: 36px;
    padding-right: 60px;

    br {
      display: inline;
    }
  }

  .steps-ordered__next {
    position: relative;
    margin: 0;
    text-transform: none;
    text-align: left;
    font-size: 24px;
    line-height: 24px;

    width: 285px;

    padding-top: 28px;
    padding-left: 32px;
    padding-bottom: 29px;

    margin-top: 8px;

    &::after {
      content: "";

      display: block;
      width: 10px;
      height: 14px;

      position: absolute;
      top: 34px;
      right: 37px;

      background-image: url("../img/icons/mobile/triangle-arrow-right.svg");
      background-repeat: no-repeat;
    }
  }

  .steps-ordered__movement {
    margin-top: 19px;
    order: 7;

    display: flex;
    justify-content: space-between;
    padding-left: 43px;
    padding-right: 43px;

    &--send {
      margin-top: 24px;

      .steps-ordered__previous {
        margin-top: -8px;
      }
    }

    &--top-fix {
      margin-top: 0;
    }
  }

  .steps-ordered__previous {
    position: relative;
    text-transform: none;
    font-size: 24px;
    line-height: 24px;

    padding-top: 36px;

    &::after {
      content: "";

      display: block;
      width: 10px;
      height: 14px;

      position: absolute;
      top: 42px;
      left: -32px;

      background-image: url("../img/icons/mobile/triangle-arrow-right.svg");
      background-repeat: no-repeat;

      transform: rotate(180deg);
    }
  }

  .steps-ordered__submit {
    margin: 0;
    position: relative;
    width: 285px;
    height: 81px;
    text-transform: none;
    text-align: left;
    font-size: 24px;
    line-height: 24px;

    padding-top: 20px;
    padding-left: 32px;
    padding-bottom: 20px;

    &::after {
      content: "";

      display: block;
      width: 10px;
      height: 14px;

      position: absolute;
      top: 34px;
      right: 37px;

      background-image: url("../img/icons/mobile/triangle-arrow-right.svg");
      background-repeat: no-repeat;
    }
  }

  .steps-ordered__inputs-wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 40px;

    .steps-ordered__number-input {
      &--mates {
        order: 1;
      }

      &--duration {
        order: 3;
      }
    }

    .steps-ordered__children-checkbox {
      order: 2;
    }
  }

  .steps-ordered__number-input {
    padding-right: 43px;
    padding-left: 43px;
  }

  .steps-ordered__children-checkbox {
    align-self: flex-start;
    margin-left: 44px;
    margin-top: 4px;
  }

  .steps-ordered__calendar {
    margin-top: 59px;
    margin-bottom: 3px;
  }

  .steps-ordered__countries-planned {
    border-top: 1px solid $grayish-blue-light-alt-3;

    margin-top: 35px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 21px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .steps-ordered {
    width: 1320px;
    border-radius: 60px;
    position: relative;
    padding-bottom: 105px;

    &:first-child {
      padding-bottom: 105px;
    }

    &:not(:first-child) {
      margin-top: 44px;
    }
  }

  .steps-ordered__heading {
    font-size: 36px;
    line-height: 50px;

    padding-top: 85px;
    padding-left: 159px;

    br {
      display: none;
    }
  }

  .steps-ordered__progress {
    display: block;
    position: absolute;
    top: 90px;
    right: 205px;

    list-style: none;
    padding-left: 0;
  }

  .steps-ordered__progress-item {
    position: relative;
    color: rgba($black, 0.6);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      position: absolute;

      top: 9px;
      left: -42px;

      background-color: rgba($black, 0.6);

      border-radius: 50%;
    }

    &:not(:first-child) {
      margin-top: 25px;
    }

    &--active {
      color: $black;

      &::before {
        background-color: $black;
      }
    }
  }

  .steps-ordered__description {
    max-width: 100%;
    padding-top: 28px;
    padding-left: 159px;
  }

  .steps-ordered__inputs-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid $grayish-blue-light-alt-3;

    margin-top: 56px;
    margin-right: 160px;
    margin-left: 161px;

    padding-top: 22px;

    .steps-ordered__number-input {
      &--mates {
        margin-right: auto;
        margin-left: 0;
      }

      &--duration {
        width: 100%;
        margin-top: 6px;
      }
    }

    .steps-ordered__children-checkbox {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .steps-ordered__calendar {
    margin-top: 32px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 3px;
  }

  .steps-ordered__movement {
    padding-left: 160px;
    margin-top: 56px;

    &--top-fix {
      margin-top: 0;
    }

    &--send {
      margin-top: 34px;
    }
  }

  .steps-ordered__previous {
    margin-right: 120px;
  }
}
