.transports {
  font-size: 0;
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.transports__item {
  margin-right: 4px;
  margin-left: 4px;
}

.transports__icon {
  width: 24px;
  height: 21px;
  opacity: 0.15;

  &_active {
    opacity: 1;
    fill: $color_cello;
  }
}

.transports_type_rounded {
  justify-content: flex-start;

  .transports__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0;
    border-radius: 50%;
    background-color: #edeff6;
  }

  .transports__icon {
    height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .transports_type_rounded {
    margin-left: 0;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 38px;

    .transports__icon {
      height: 21px;
    }

    .transports__item {
      background-color: transparent;
    }
  }
}
