.transport {
  display: flex;
  justify-content: center;

  &--catalog {
    list-style: none;

    padding-left: 19px;
  }
}

.transport__item {
  width: 24px;
  height: 21px;
  position: relative;

  margin-top: 0;
  margin-left: 6px;

  svg {
    color: rgba($text__dark-blue, 0.15);
    margin-top: 2px;
    margin-left: 1px;
  }

  &:hover,
  &:focus {
    .transport__description {
      display: block;
      width: auto;
      height: auto;

      position: absolute;
      top: 35px;
      z-index: 10;

      text-align: center;
      font-size: 15px;
      line-height: 24px;
      color: $white;

      background-color: $text__dark-blue;

      padding-top: 10px;
      padding-right: 17px;
      padding-left: 17px;
      padding-bottom: 10px;

      border-radius: 4px;

      clip: auto;
      transform: translateX(-40%);
    }

    &::after {
      content: "";

      display: block;
      width: 13px;
      height: 16px;

      position: absolute;
      top: 26px;
      left: 6px;
      z-index: 11;

      background-image: url("../../img/icons/mobile/triangle-arrow-right.svg");
      background-size: 13px 16px;
      background-repeat: no-repeat;

      transform: rotate(-90deg);
    }
  }

  &:not(:first-child) {
    margin-left: 10px;
  }

  &--bus {
    svg {
      margin-left: 3px;
    }
  }

  &--bycicle {
    svg {
      margin-left: 0;
    }
  }

  &--run {
    svg {
      margin-left: -1px;
    }
  }

  &--catalog {
    width: 32px;
    height: 32px;
    background-color: $main-color;
    border-radius: 50%;

    svg {
      margin-top: 8px;
      margin-left: 8px;
    }

    &::after {
      background-size: 19px 17px;
    }

    &::before {
      opacity: 1;
      background-color: $main-color;
      border-radius: 50%;
    }

    &:not(:first-child) {
      margin-left: 0;
    }
  }

  &--active {
    svg {
      color: $text__dark-blue;
    }
  }
}

.transport__description {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media (min-width: $tablet-breakpoint) {
  .transport {
    &--catalog {
      padding-left: 25px;
      flex-direction: column;
    }
  }

  .transport__item {
    &--catalog {
      background: none;

      svg {
        margin-left: -1px;
      }
    }

    &--plane-catalog {
      svg {
        width: 19px;
        height: 21px;
      }
    }

    &--bus-catalog {
      svg {
        width: 17px;
        height: 21px;
        margin-left: 8px;
      }
    }

    &--bike-catalog {
      svg {
        width: 24px;
        height: 21px;
        margin-top: 6px;
        margin-left: 5px;
      }
    }

    &--run-catalog {
      svg {
        width: 20px;
        height: 21px;
        margin-left: 7px;
      }
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .transport {
    flex-direction: row;
  }

  .transport__item {
    &--plane {
      &::after {
        background-position: -3px 5px;
      }
    }

    &--plane-index {
      &::after {
        background-position: 2px 0;
      }
    }

    &--catalog {
      background: none;

      &::after {
        background-size: 28px 22px;
      }
    }

    &--plane-catalog {
      svg {
        margin-left: 1px;
      }
    }

    &--bus-catalog {
      svg {
        margin-left: 5px;
      }
    }

    &--bike-catalog {
      svg {
        margin-top: 8px;
        margin-left: 3px;
      }
    }

    &--run-catalog {
      svg {
        margin-left: 5px;
      }
    }
  }
}
