.wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-breakpoint) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .wrapper {
    width: 1440px;
  }
}
