$white: #ffffff;
$gray: #444444;
$grayish: #999999;
$grayish-light: #e5e5e5;
$grayish-blue: #b6b9c8;
$grayish-blue-light: #cdd0db;
$grayish-blue-light-alt: #e2e5f2;
$grayish-blue-light-alt-1: #d4d9eb;
$grayish-blue-light-alt-2: #d6daed;
$grayish-blue-light-alt-3: #d6d9e6;
$grayish-blue-light-alt-4: #bbbfcc;
$grayish-blue-light-alt-5: #c8cee8;
$grayish-blue-light-alt-6: #cccccc;
$black: #000000;

$header-color: #161c35;
$header-color-tablet: #182044;
$main-color: #edeff6;
$text__dark-blue: #1d2e5b;

$background__dark-blue: #192144;
$background__pinkish: #f97676;
$background__greenish: #81e31e;
$background__whitish: #f9eaea;

$universal__dark-blue: #121936;
$universal__bright-yellow: #ffd74b;

$level-circle__orange: #f58a32;

$rgba__text__light-gray: rgba(68, 68, 68, 0.3);
$rgba__text__gray: rgba(68, 68, 68, 1);
$rgba__text__dark-blue: rgba(25, 33, 68, 1);
$rgba__bright-blue: rgba(29, 46, 91, 1);
$rgba__light-bright-blue: rgba(29, 46, 91, 0.3);
$rgba__background__gray-from-black: rgba(0, 0, 0, 0.05);
$yellow-200-color: #ffd74b;
$blue-700-color: #161c35;

$background__orange-color: #ff8d30;
$background__orange-color__actions: #f26926;
$yellowish-orange-color: #ffa530;
$yellowish-orange-color__actions: #ffa530;
$orangish-yellow-color: #ffbd30;
$orangish-yellow-color__actions: #ff8d30;
$yellow-color: #ffb74b;
$yellow-bright: #f3c72b;
$yellow-moderate: #d2b54e;
$yellow-color__actions: #ffbd30;
$font-color: #161c35;
$blue-10-color: #cbced9;
$blue-50-color: #e2e5f1;
$blue-80-color: #dfe3f0;
$blue-100-color: #aeb4cb;
$blue-200-color: #d1d7e9;
$blue-300-color: #1b2e5b;
$red-100-color: #ff5c23;
$blue-90-color: #959bb2;
