@font-face {
  font-family: "Blogger Sans";
  font-weight: 300;
  font-style: normal;
  src: local("Blogger Sans"),
    url("../fonts/BloggerSans-Light.woff2") format("woff2"),
    url("../fonts/BloggerSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Blogger Sans";
  font-weight: 300;
  font-style: italic;
  src: local("Blogger Sans"),
    url("../fonts/BloggerSans-LightItalic.woff2") format("woff2"),
    url("../fonts/BloggerSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Blogger Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Blogger Sans"),
    url("../fonts/BloggerSans.woff2") format("woff2"),
    url("../fonts/BloggerSans.woff") format("woff");
}

@font-face {
  font-family: "Blogger Sans";
  font-weight: 400;
  font-style: italic;
  src: local("Blogger Sans"),
    url("../fonts/BloggerSans-Italic.woff2") format("woff2"),
    url("../fonts/BloggerSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Blogger Sans";
  font-weight: 500;
  font-style: normal;
  src: local("Blogger Sans"),
    url("../fonts/BloggerSans-Medium.woff2") format("woff2"),
    url("../fonts/BloggerSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Blogger Sans";
  font-weight: 500;
  font-style: italic;
  src: local("Blogger Sans"),
    url("../fonts/BloggerSans-MediumItalic.woff") format("woff"),
    url("../fonts/BloggerSans-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Blogger Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Blogger Sans"),
    url("../fonts/BloggerSans-Bold.woff2") format("woff2"),
    url("../fonts/BloggerSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Blogger Sans";
  font-weight: 700;
  font-style: italic;
  src: local("Blogger Sans"),
    url("../fonts/BloggerSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/BloggerSans-BoldItalic.woff") format("woff");
}
