$color_big-stone: #161c36;
$color_blue-whale: #192144;
$color_cello: #1d2e5b;
$color_tundora: #444444;
$color_whisper: #edeff6;
$color_white: #ffffff;
$color_neon-carrot: #ff8d30;
$color_sunshade: #ffa530;
$color_sunglow: #ffbd30;
$color_mustard: #ffd74b;
$color_foroly: #f97676;
$color_lima: #81e31e;
$color_snuff: #e2e5f2;

$text-size_default: 16px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$retina-dppx: 1.5dppx;
